*{
  box-sizing: border-box;
}

body{
  background:#f7f7f874;
  color:#209515;
  line-height:1.6;
  font-family: roboto,  'sans-serif';
  padding:1em;
}

.container{
  max-width:1170px;
  margin-left:auto;
  margin-right:auto;
  padding:1em;
}

ul{
  list-style: none;
  padding:0;
}

.logo{
  text-align: center;
}

.wrapper{
  box-shadow: 0 0 20px 0 rgba(31, 66, 5, 0.7);
}

.wrapper > *{
  padding: 1em;
}

.my-info{
      background:#f8f8fa98;
}

.my-info h3, .my-info ul{
  text-align: center;
  margin:0 0 1rem 0;
}

.contact{
  background:#9dddb198;
}

/* Styling The form */

.contact form{
  display: grid;
  grid-template-columns: 1fr 1fr;
   grid-gap:20px;
}
